<!-- Navbar Superior -->
<div class="fixed top-0 left-0 w-full bg-gradient-to-r from-purple-500 to-green-500 p-4 flex items-center justify-center border-b-2 border-black z-50">
  <img src="https://firebasestorage.googleapis.com/v0/b/roaau-javascript.appspot.com/o/imagenes%2Fcanvas.png?alt=media&token=266cc22d-53b5-44f8-963d-0a0ab0e556cb" alt="Logo" class="h-16">
</div>

<button 
  (click)="goBack()"
  class="absolute top-[150px]  bg-yellow-400 text-black px-4 py-2 rounded-md font-bold shadow-md hover:bg-yellow-500 z-10 left-[100px]">
    BACK
  </button>

<div class="flex flex-col items-center justify-center min-h-screen pt-24 bg-gray-100">
  <!-- Título -->
  <h2 class="text-2xl font-semibold mb-6 text-gray-800">Ingresa los datos necesarios para el proyecto:</h2>
  <input 
  type="text" 
  placeholder="Nombre" 
  class="text-center placeholder-gray-500 border border-gray-300 rounded-md p-2 w-64"
  [(ngModel)]="proyecto.nombre"
  >

  <!-- Contenedor de Tabla con Altura Máxima -->
  <div class="overflow-x-auto w-full max-w-4xl max-h-96 border border-gray-300 rounded-lg shadow-lg">
    <table class="min-w-full bg-white rounded-lg">
      <thead class="bg-gradient-to-r from-purple-500 to-green-500 text-white">
        <tr>
          <th class="py-3 px-4">Actividad</th>
          <th class="py-3 px-4">O</th>
          <th class="py-3 px-4">MP</th>
          <th class="py-3 px-4">P</th>
          <th class="py-3 px-4">PERT</th>
          <th class="py-3 px-4">Precedentes</th>
          <th class="py-3 px-4">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <tr *ngFor="let row of proyecto.actividades| keyvalue; let i = index" class="border-b">
          <td class="py-3 px-4">
            <input 
              type="text" 
              placeholder="Actividad" 
              [(ngModel)]="row.key"
              (blur)="onNombreChange(row.key)"
              class="w-full px-2 py-1 border rounded focus:outline-none focus:ring-2 focus:ring-purple-500"
            >
          </td>
          <td class="py-3 px-4">
            <input 
              type="number" 
              placeholder="O" 
              [(ngModel)]="row.value.o" 
              class="w-full px-2 py-1 border rounded focus:outline-none focus:ring-2 focus:ring-green-500"
            >
          </td>
          <td class="py-3 px-4">
            <input 
              type="number" 
              placeholder="MP" 
              [(ngModel)]="row.value.mp" 
              class="w-full px-2 py-1 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
          </td>
          <td class="py-3 px-4">
            <input 
              type="number" 
              placeholder="P" 
              [(ngModel)]="row.value.p" 
              class="w-full px-2 py-1 border rounded focus:outline-none focus:ring-2 focus:ring-yellow-500"
            >
          </td>
          <td class="py-3 px-4">
            <input 
              type="number"
              [value]="calculatePERT(row.value)" 
              disabled
              class="w-full px-2 py-1 border rounded focus:outline-none"
            >
          </td>
          
          <td class="py-3 px-4">
            <div class="border rounded px-2 py-1 focus:outline-none focus:ring-2 focus:ring-indigo-500">
              <div *ngFor="let option of filteredActividades(row.key)" class="flex items-center space-x-2 cursor-pointer">
                <input 
                  type="checkbox" 
                  [checked]="row.value.precedentes.includes(option)" 
                  (click)="togglePrecedente(row.value, option)" 
                  class="cursor-pointer"
                >
                <label (click)="togglePrecedente(row.value, option)" class="cursor-pointer">{{ option }}</label>
              </div>
            </div>
          </td>
          
          <td class="py-3 px-4 flex space-x-2">
            <button (click)="addRow()" class="bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded shadow">+</button>
            <button (click)="removeRow(row.key)" class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded shadow">-</button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>

  <!-- Botón Guardar -->
  <button 
  (click)="saveData()" 
  class="mt-6 bg-blue-500 hover:bg-blue-600 text-white font-semibold px-6 py-2 rounded shadow transition duration-300"
>
  GUARDAR
</button>

</div>
