<body class="h-full w-full bg-gray-100 pt-20">
    <div class="container mx-auto p-4">
        <!-- Barra superior -->
        <div class="fixed top-0 left-0 w-full bg-gradient-to-r from-purple-500 to-green-500 p-4 flex items-center justify-center border-b-2 border-black z-10 h-20">
            <img src="https://firebasestorage.googleapis.com/v0/b/roaau-javascript.appspot.com/o/imagenes%2Fcanvas.png?alt=media&token=266cc22d-53b5-44f8-963d-0a0ab0e556cb" alt="Logo" class="h-16">
          </div>

          <div class="flex w-full justify-between items-center mt-5 mb-5">
            <!-- Botón Agregar -->
            
                <a href="create-table"><button
                    class="w-12 h-12 rounded-full border-1 border-gray-200 shadow-md bg-blue-500 hover:bg-blue-700 text-white font-bold flex items-center justify-center"
                    aria-label="Agregar">
                    +
                </button></a>
            
        
            <!-- Menú Usuario -->
            
            <div class="relative inline-block">
                <button 
                    (click)="toggleMenu($event)"
                    class="w-12 h-12 rounded-full border-2 border-gray-200 shadow-md bg-cover bg-center"
                    [style.background-image]="'url(https://firebasestorage.googleapis.com/v0/b/roaau-javascript.appspot.com/o/imagenes%2Fimages-removebg-preview.png?alt=media&token=b3c8b16c-332f-49af-8048-df25b6865ef8)'"
                    aria-label="Ícono de usuario"
                    id="userButton">
                </button>
                <div *ngIf="menuVisible" class="absolute right-0 mt-2 w-48 bg-white border rounded shadow-lg" id="logoutMenu">
                    <a href="create-table"> <button class="w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100" (click)="logOut()">LogOut</button></a>
                </div>
            </div>
           
        </div>

    <h1 class="text-3xl font-bold mb-4 text-center mt-0">Tabla de Proyectos</h1>

        <div class="overflow-y-auto max-h-96">

        <table class="w-full h-full table-auto">
            <thead class="bg-gradient-to-r from-purple-500 to-green-500 text-white">
                <tr>
                    <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-white-500 uppercase tracking-wider">Nombre</th>
                    <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-white-500 uppercase tracking-wider">Ver</th>
                    <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-white-500 uppercase tracking-wider">Editar</th>
                    <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-white-500 uppercase tracking-wider">Eliminar</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let elemento of datosTabla">
                    <td class="px-6 py-4 whitespace-nowrap">{{elemento.nombre}}</td>
                    
                    <td class="px-6 py-4 whitespace-nowrap text-center">
                        <img src="https://firebasestorage.googleapis.com/v0/b/roaau-javascript.appspot.com/o/imagenes%2FSin_t%C3%ADtulo-removebg-preview.png" alt="Icono de ojo" class="w-12 h-12">
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">
                        <img src="https://firebasestorage.googleapis.com/v0/b/roaau-javascript.appspot.com/o/imagenes%2Fimagsadasdaes-removebg-preview.png" alt="Icono de lápiz" class="w-10 h-10">
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">
                        <img src="https://firebasestorage.googleapis.com/v0/b/roaau-javascript.appspot.com/o/imagenes%2Fimagsadasdaes-removebg-preview.png" alt="Icono de eliminar" class="w-10 h-10">
                    </td>
                </tr>

             

                

               
            </tbody>
        </table>
    </div>
    </div>

    
    
</body>